@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

#command::before {
  content: 'tanlipwei@portfolio:~$ ';
  color: rgb(133, 149, 46);
}

.animateit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  animation: typing 0.5s steps(30, end);
  white-space: pre;
  overflow: hidden;
  z-index: 100;
  background-color: #073642;
}

@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
