.disc {
  animation: rotate 2s linear 0s infinite normal;
}

.words {
  font-size: 2rem;
  transform: rotate(135deg);
  transform-origin: 250px 250px;
}

.move {
  cursor: default;
  animation: rotate 10s linear 0s infinite normal;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
